@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --primary: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light_Grey: hsl(217, 12%, 63%);
  --Medium_Grey: hsl(216, 12%, 54%);
  --Dark_Blue: rgb(37, 45, 55);
  --box_color: rgb(30, 39, 49);
  --Very_Dark_Blue: rgb(18, 20, 23);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.5rem;
  font-family: "Overpass", sans-serif;
  color: var(--Light_Grey);
  background-color: black;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--White);
  padding: 3.2rem 0 1rem 0;
}

p {
  color: var(--Medium_Grey);
  line-height: 2.4rem;
  font-weight: 400;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* common setting */

.container {
  width: 144rem;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Very_Dark_Blue);
}

.box {
  width: 41rem;
  height: 41rem;
  padding: 3.2rem;
  border-radius: 3rem;
  background: linear-gradient(rgba(30, 39, 49, 1), rgba(30, 39, 49, 0.5));
  transition: all 0.2s ease;
}

@media (max-width: 50em) {
  .container {
    width: 37.5rem;
  }

  .box {
    width: 32.5rem;
    height: 35rem;
    padding: 2.4rem 2.2rem;
    border-radius: 1.5rem;
  }

  h1 {
    font-size: 2.4rem;
    padding: 2rem 0 1rem 0;
  }

  p {
    color: var(--Medium_Grey);
    line-height: 2rem;
    font-size: 1.4rem;
  }
}

/* Rating state */
.rating {
  display: flex;
}

.rating.submitted {
  display: none;
}

#logo {
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--Dark_Blue);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate_field {
  padding: 2.5rem 0;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 5.2rem;
  height: 5.2rem;
  background-color: var(--Dark_Blue);
  border: none;
  border-radius: 50%;
  color: var(--Light_Grey);
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  color: var(--White);
  background-color: var(--primary);
}

.btn.active {
  color: var(--White);
  background-color: var(--Medium_Grey);
}

#submit {
  width: 100%;
  height: 4.6rem;
  margin-top: 0.6rem;
  background-color: var(--primary);
  border: none;
  border-radius: 2.5rem;
  color: var(--White);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#submit:hover {
  background-color: var(--White);
  color: var(--primary);
}

@media (max-width: 50em) {
  #logo {
    width: 4rem;
    height: 4rem;
  }

  #logo > img {
    width: 35%;
  }

  .btn {
    width: 4.2rem;
    height: 4.2rem;
  }

  #submit {
    width: 100%;
    height: 4.4rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

/* Thank you state */
.rated {
  display: none;
}

.rated.submitted {
  display: flex;
}

.rated > .box {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ty_img {
  display: flex;
  justify-content: center;
  padding: 1.4rem 0 3rem 0;
}

.status {
  width: auto;
  height: auto;
  padding: 0.65rem 2rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: var(--Dark_Blue);
  color: var(--primary);
  opacity: 0.8;
}

.rated > .box > p {
  text-align: center;
}

@media (max-width: 50em) {
  .ty_img {
    padding: 1.2rem 0 2.2rem 0;
  }

  .ty_img > img {
    width: 90%;
  }

  .status {
    width: auto;
    height: auto;
    padding: 0.65rem 1rem;
    margin-bottom: 0.6rem;
    border-radius: 1.5rem;
    font-size: 1.4rem;
  }
}
